doctype html
html

head
  style
      include ../public/styles/main.css

body

  .boardOutside
    #columnHeader
    .boardInside
      #boardRow0 
      #boardRow1 
      #boardRow2 
      div 0
  br
  p Wylosowalem:
    #printRoll _
  br
  input#colorBid
  select#colorInput(name="colorInput")
    option(value="empty") - wybierz -
    option(value="Czarny") Czarny
    option(value="Czerwony") Czerwony
  span  kolor
  br
  input#evenBid
  select#evenInput(name="evenInput")
    option(value="empty") - wybierz -
    option(value='true') Parzyste
    option(value='false') Nieparzyste
  span  parzyste/nieparzyste
  br
  input#dozenBid
  select#dozenInput(name="dozenInput")
    option(value="empty") - wybierz -
    option(value='0') 1 - 12
    option(value='1') 13 - 24
    option(value='2') 25 - 36
  span  tuziny
  br
  button#roll Krecimy
  br
  p Masz $:
  #credit 

script
  include ../public/javascripts/game_run.js